.gateway_table_main {
  padding: 40px;
  width: 750px;
  margin: auto;
}

.device_table_main {
  padding: 40px;
  width: 850px;
  margin: auto;
}

.label {
  text-align: center;
  font-weight: 700;
  color: rgb(92, 15, 15);
  margin: 10px;
  margin-top: 20px;
}

.add_gateway_button {
  padding: 6px !important;
  width: 150px !important;
  border-radius: 6px !important;
  border: none !important;
  background-color: rgb(16, 128, 100) !important;
  cursor: pointer !important;
  color: white !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  font-size: 12px !important;
  margin-bottom: 5px !important;
}

.device_view_button {
  padding: 6px !important;
  width: 40px !important;
  border-radius: 6px !important;
  border: none !important;
  background-color: rgb(51, 64, 147) !important;
  cursor: pointer !important;
  color: white !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  font-size: 10px !important;
  margin-right: 5px !important;
}

.gateway_edit_button {
  padding: 6px !important;
  width: 40px !important;
  border-radius: 6px !important;
  border: none !important;
  background-color: rgb(64, 124, 71) !important;
  cursor: pointer !important;
  color: white !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  font-size: 10px !important;
  margin-right: 5px !important;
}

.gateway_delete_button {
  padding: 6px !important;
  width: 40px !important;
  border-radius: 6px !important;
  border: none !important;
  background-color: brown !important;
  cursor: pointer !important;
  color: white !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  font-size: 10px !important;
}

.inner-main {
  margin-top: 70px;
  margin-left: 300px;
}